<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">
    
    <bean id="locationservice"
          class="org.woz.protozoa.services.model.LocationServiceImpl"
          init-method="startUp"/>
    
    <service ref="locationservice"
             interface="org.woz.protozoa.services.model.LocationService"/>
    
</blueprint>